<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Bienvenue sur Geekbox!</h2>
    <h3>Fonctionnalités:</h3>
    <p>
        <ul>
            <li> - Affiche les sorties ciné (kinepolis.com)</li>
            <li> - Horaires kinepolis ratachées</li>
            <li> - Lien vers reservation kinépolis</li>
            <li> - Stocker les données en local (Mode hors ligne OK)</li>
        </ul>
    </p>
    <h3>Fonctionnalités à venir:</h3>
    <p>
        <ul>
            <li> - Notes/avis de plusieurs sites (allociné, imdb, rotten-tomatoes)</li>
            <li> - Accèder a cineday (+ générer code)</li>
            <li> - Reductions bnp du moment (alertes?)</li>
            <li> - Autres reducs</li>
            <li> - Possibilité de copier les codes dans une zone partagées</li>
            <li> - Envoi de sms a tous (ou mail)</li>
            <li> - Ajout dans calendrier google</li>
            <li> - Extension facebook creation event (impossible depuis 2015)</li>
        </ul>
    </p>
  </ion-content>
</ion-view>
