<ion-view view-title="Reductions">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left" ng-click="demanderCineday();">
        <i class="icon ion-android-textsms"></i>
        Cineday (50% prix)
        <span class="badge badge-assertive">{{cineday}}</span>
      </a>
        
      <a class="item item-icon-left" href="#" ng-click="openurl('https://mabanque.bnpparibas/fr/jeux-concours/jeu-printemps-cinema');">
        <i class="icon ion-android-film"></i>
        Contremarques BNP (4€)
      </a>
        
      <a class="item item-icon-left" href="#" ng-click="openurl('https://kinepolis.fr/ticketmagique');">
        <i class="icon ion-ios-color-wand"></i>
        Ticket magique (5€)
      </a>    
        
    </div>
  </ion-content>
</ion-view>
