/* Empty. Add your own CSS if you like */
.poster {
    border-radius: 0% !important;
    max-height: 50px !important;
    max-width: 40px !important;
}

.poster-big {
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.8); /* FF3.5+ */
      -ms-transform: scale(0.8); /* IE9 */
       -o-transform: scale(0.8); /* Opera 10.5+ */
          transform: scale(0.8);
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}